<div class="container">
  <div class="col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8 signup sign-up">
    <h2 class="header-text">LOGIN HERE</h2>
    <div class="row">
      <div class="col-sm-12 nopadding">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group col-sm-12 ">
            <input type="text" name="user[email]" id="email" class="form-control input" value ="<%= resource.email%>" placeholder="Email" >
          </div>
          <div class="form-group col-sm-12 ">
            <input type="password" name="user[password]" id="password" class="form-control input" value ="<%= resource.password%>" placeholder="Password" >
          </div>
          <% if devise_mapping.rememberable? -%>
            <div class="checkbox-user">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group text-center btn_sign_up">
                <input type="submit" class="btn" value="Log in" id="regform" name="submit">
              </div>
            </div>
          </div>
          <%#= f.submit "Log in", :class =>"btn btn-primary btn-block" %>
        <%end%>
        <a class="forgotLnk" href="/users/password/new">I can't access my account</a>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-12 text-center ">
        <div class="or-txt">
         <span>OR</span>
        </div>
      </div>
      <div class="form-group col-sm-12 ">
        <ul class="socialsarea">
          <li class="">
            <a href="/users/auth/facebook" class="facebook">
              <i class="fa fa-facebook"></i>
              <span>Facebook Login</span>
            </a>
          </li>
          <li class="">
            <a href="/users/auth/google_oauth2" class="twitter">
              <i class="fa fa-google"></i>
              <span>Google Login</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="form-group col-sm-12 ">
        <p class="text-center sign_up"><a href="<%= new_user_registration_path%>">
          Create New Account</a>
        </p>
      </div>
    </div>
  </div>
</div>