<div class="container">
  <%if @events.present?%>
   		<% @events.each do |event|%>
        <div class="top-card-wrapper">
          <div class="top-card-image">
            <img src="<%= event.attachments.present? ? event.attachments.first.attachment.url: "default_image.jpg"%>">
            <label><%= distance_of_day(event.event_adver_dates.first.start_date,event.event_adver_dates.first.end_date )%></label>
          </div>
          <div class="top-card-content">
            <div class="top-card-timing">
               <div class="fl">
                  <i class="fa fa-calendar">
                  </i>
                  <%= event.event_adver_dates.first.start_date%> to <%= event.event_adver_dates.first.end_date%>
               </div>
               <div class="fr">
                  <i class="fa fa-clock-o"></i>
                  12:00 PM
               </div>
               <div class="cl"></div>
            </div>
            <div class="top-card-heading">
               <%= event.title%>
            </div>
            <p class="top-card-des">
               <%= strip_tags(event.description)%>
               <%#= truncate((event.description.html_safe),length: 40, escape: true)%>
            </p>
            <a href="#" class="read-more-new">Read More...</a>
          </div>
        </div>
      <%end%>
  <%end%>
  </div>