<section id="main-content">
	<section class="wrapper">
	<div class="table-agile-info">
 <div class="panel panel-default">
    <div class="panel-heading">
     USER LIST
    </div>
   <div>
   	<%if @users.present?%>
      <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
        <thead>
          <tr>
            <th>User Name</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
			<th>Image</th>
			<th>Provider</th>
			<th>Login Id</th>
			<th>Action</th>	
          </tr>
        </thead>
        <tbody>
          <%@users.each do |user|%>
			<tr>
				<td><%= user.user_name%></td>
				<td><%= user.first_name%></td>
				<td><%= user.last_name%></td>
				<td><%= user.email%></td>
				<td><%= image_tag user.attachments.present? ? user.attachments.first.attachment.url(:thumb) : 'default_image.jpg'%></td>
				<td><%= user.provider%></td>
				<td><%= user.uid%></td>
				<!-- <td><%#= link_to "Edit", edit_admin_user_path(user)%></td> -->
				<td><%= link_to 'Delete',admin_user_delete_path(user),method: :delete, data: {confirm: "Are you sure?"} %></td>
			</tr>
		<%end%>
        </tbody>
      </table>
      <%else%>
	<h2>There is no user are present.</h2>
	<%end%>
    </div>
  </div>
</div>
</section>