<!-- <!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%#= csrf_meta_tags %>
<script src="/assets/jquery2.0.3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
   
<link rel="stylesheet" href="/assets/bootstrap-datetimepicker.min.css" type="text/css"/>
<script src="/assets/bootstrap-datetimepicker.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<link href="/assets/style.css" rel='stylesheet' type='text/css' />
<link href="/assets/style-responsive.css" rel="stylesheet"/>
<link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/assets/font.css" type="text/css"/>
<link href="/assets/font-awesome.css" rel="stylesheet"> 

</head>
<body>
<section id="container">
<header class="header fixed-top clearfix">
<div class="brand">
    <a href="<%= admin_path%>" class="logo">
        Event
    </a>
    <div class="sidebar-toggle-box">
        <div class="fa fa-bars"></div>
    </div>
</div>

<div class="top-nav clearfix">
    <ul class="nav pull-right top-menu">
        <li>
            <input type="text" class="form-control search" placeholder=" Search">
        </li>
        <li><a href="<%= destroy_user_session_path%>" data-method = "delete">Log Out</a></li>
        
            </ul>
        </li> 
        
       
    </ul>
    
</header>

<aside>
    <div id="sidebar" class="nav-collapse">
        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                   
                    <a href="<%= admin_path%>">Dashboard</a></li>
                </li>
                <li><%#= link_to "Categories", admin_categories_path%></li>
                <li><%#= link_to "Artist", admin_artists_path%></li>
                <li><%#= link_to "All Users", admin_listusers_path%></li>
                
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-calendar"></i>
                        <span>Manage Event</span>
                    </a>
                    <ul class="sub">
                    <li><a href="<%= admin_events_path%>">Events</a></li>
                    <li><a href="<%= new_admin_event_path%>">Add Event</a></li>
                        <li><a href="#">Comments & Ratings</a></li>
                    </ul>
                </li>
              </div>
    </div>
</aside>
<script src="/assets/jquery.dcjqaccordion.2.7.js"></script>
<script src="/assets/jquery.scrollTo.js"></script>
<script src="/assets/raphael-min.js"></script>
<script src="/assets/bootstrap.js"></script>

<script src="/assets/scripts.js"></script>
<script src="/assets/jquery.slimscroll.js"></script>
<script src="/assets/jquery.nicescroll.js"></script>
<script src="/assets/notify.js"></script>


<%#= yield %>
</body>
</html>
<script type="text/javascript">

  <%# if flash[:notice].present? %>
    message = "<%#= flash[:notice]%>"
    type = 'info'
    notification(message,type)
  <%#end%>
  <%# if flash[:alert].present? %>
    message = "<%#= flash[:alert]%>"
    type = 'info'
    notification(message,type)
  <%#end%>
  <%# if flash[:message].present?%>
    message = "<%#= flash[:message]%>"
    type = 'info'
    notification(message,type)
  <%#end%>
  <%# if flash[:errors].present?%>
    <%#flash[:errors].each do |err|%>
      message = "<%= err.html_safe %>"
      type = 'info'
      notification(message,type)
    <%#end%>
  <%# end %>
  function notification(message,type){
    $.notify(message, {
      className:type,
      clickToHide: false,
      globalPosition: 'top left'
    });
  }
</script>
 -->