<!DOCTYPE html>
<html>
  <head>
    <title>SimplePropject</title>
    <%= csrf_meta_tags %>
    <script src="/assets/jquery-1.12.4.js"></script>
    <script src="/assets/jquery-ui.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href='/assets/style.css' rel="stylesheet">
    <link href='/assets/style01.css' rel="stylesheet">
      <script src="/assets/notify.js"></script>
    
    <link href='/assets/bootstrap.min.css' rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" >
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-browser/0.1.0/jquery.browser.js"></script>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link href="https://blackrockdigital.github.io/startbootstrap-creative/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

  </head>
  <body>
    <%= render "layouts/header"%>
    <%= yield %>
    <%= render "layouts/footer"%>
  </body>
</html>
<script type="text/javascript">

  <% if flash[:notice].present? %>
    message = "<%= flash[:notice]%>"
    type = 'info'
    notification(message,type)
  <%end%>  

  <% if flash[:alert].present? %>
    message = "<%= flash[:alert]%>"
    type = 'info'
    notification(message,type)
  <%end%>

  <% if flash[:message].present?%> 
    message = "<%= flash[:message]%>"
    type = 'info'
    notification(message,type)
  <%end%>

  <% if flash[:errors].present?%>
    <%flash[:errors].each do |err|%>
      message = "<%= err.html_safe %>"
      type = 'info'
      notification(message,type)
    <%end%>
  <% end %>

  function notification(message,type){
    $.notify(message, {
      className:type,
      clickToHide: false,
      globalPosition: 'top left'
    });
  }
</script>
